# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MacintoshBot.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\adamn\Desktop\Macintosh-bot\MacintoshBot\.idea\.idea.MacintoshBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
